{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamil Class Web Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>

    <!-- Header Section -->
    <header>
        <h1>லேக் ஸ்டீவன்ஸ் STS தமிழ்ப் பள்ளி</h1>
        <!-- Navigation Bar -->
        <nav>
            <ul>
                <li><a href="#home">முகப்பு</a></li>
                <li><a href="#about_us">எங்களைப் பற்றி</a></li>
                <li><a href="#gen_info">பொதுவான தகவல்</a></li>
                <li><a href="#library">நூலகம்</a></li>
                <li><a href="#events">நிகழ்ச்சிகள்</a></li>
                <li><a href="#contact">தொடர்பு கொள்ளவும்</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content Section -->
    <section id="home">
        <div class="image-column">
            <div class="image-slideshow">
                <img src="{% static 'images/seatlle-tamil-sangam.jpg' %}" alt="Tamil Course Image 1">
                <img src="{% static 'images/missions/missions.jpg' %}" alt="Tamil Course Image 1">
                    <img src="{% static 'images/missions/missions-1.jpg' %}" alt="Tamil Course Image 2">
                    <img src="{% static 'images/missions/missions-2.jpg' %}" alt="Tamil Course Image 3">
                    <img src="{% static 'images/missions/missions-3.jpg' %}" alt="Tamil Course Image 4">
            </div>
        </div>
    </section>

    <section id="about_us">
        <div class="about-us-content">
            <!-- Left Column: Text content with swap functionality -->
            <div class="text-column">
                <div class="text-content" id="content1">
                    <h3>நோக்கம்</h3>
                    <p>தமிழ்மொழி இலக்கண, இலக்கிய, வரலாற்று அடிப்படை கொண்ட மிகப் பழமையானதொரு இந்திய மொழி. புலம்பெயர்ந்து வாழும் குழந்தைகளுக்கும், இளைஞர்களுக்கும் தமிழ் மொழி கற்றுத் தருவதே சியாட்டில் தமிழ் பள்ளியின் முக்கிய நோக்கமாகும். தமிழ் கற்பிப்பது மட்டுமல்லாமல், இசை, நடனம், நாடகம், போன்ற தமிழர் பண்பாட்டை ஒட்டிய நிகழ்ச்சிகளுக்கும் ஆதரவு தந்து தமிழையும், தமிழ் பண்பாட்டையும் போற்றுவது இப்பள்ளியின் விருப்பமாகும்.</p>
                </div>

                <div class="text-content" id="content2">
                    <h3>Mission</h3>
                    <p>Tamil language is an ancient Indian Language with a long history and rich literature and comprehensive grammar. The main objective of Lake stevens STS Tamil School is to teach Tamil language to the Diaspora Children and Youth. In addition to teaching Tamil, ITA encourages Cultural activities such as music, dance, drama and any art form based on Tamil language and Tamil culture to promote Tamil and Tamil culture.</p>
                </div>

                <!-- Navigation buttons -->
                <div class="nav-buttons">
                    <button id="prevButton">Previous</button>
                    <button id="nextButton">Next</button>
                </div>
            </div>

            <!-- Right Column: Image Gallery with Automatic Image Swapping -->
            <div class="image-column">
                <div class="image-slideshow">
                    <img src="{% static 'images/missions/missions.jpg' %}" alt="Tamil Course Image 1">
                    <img src="{% static 'images/missions/missions-1.jpg' %}" alt="Tamil Course Image 2">
                    <img src="{% static 'images/missions/missions-2.jpg' %}" alt="Tamil Course Image 3">
                    <img src="{% static 'images/missions/missions-3.jpg' %}" alt="Tamil Course Image 4">
                </div>
            </div>
        </div>
    </section>
    
    <section id="gen_info">
        <h2>பொதுவான தகவல்</h2>
        <p>வகுப்பு பற்றிய பொதுவான தகவல்கள்.</p>
    </section>

    <section id="library">
        <h2>நூலகம்</h2>
        <p>நம் தமிழ்ப் பள்ளியின் நூலகம் தமிழ் மொழியின் நிபுணத்துவத்தையும் வாசிப்பின் மகிழ்ச்சியையும் ஒருங்கே அனுபவிக்க ஊக்குவிக்கப் பட்டிருக்கிறது. குழந்தைகளுக்கும் பெரியவர்களுக்கும் பொருந்தும் படி பல்வேறு கலந்தாய்வு, கதைபுத்தகங்கள், பாடநூல்கள், அறிவியல், வரலாறு, இலக்கியம் என ஏராளமான தலைப்புகளை உள்ளடக்கியதான 150-க்கும் மேற்பட்ட புத்தகங்கள் இங்கு காத்திருக்கின்றன.</p><br>
        <p>புத்தகங்கள் ஓர் அறிவின் சாளரம் என்பதை உணர்த்த, எளிதாக திறனாய்வு செய்யவும் கற்றல் மற்றும் கருத்துப்பரிமாற்றத்திற்கும் ஏற்ற முறையில் நாம் இந்த நூலகத்தை வடிவமைத்துள்ளோம். மாணவர்கள் மட்டுமின்றி பெற்றோர்களும் தேவைக்கேற்ற புத்தகங்களை தேர்ந்தெடுத்து வாசிப்பதன் மூலம் தமிழ் மொழியை மேலும் வலுப்படுத்திக் கொள்ளலாம். புதிதாக அறிமுகமான சிறுவர் கதைகள் முதல் தமிழின் பெருந்தகை ஆளுமைகள் குறித்து விவரிக்கும் ஆய்வுப் புத்தகங்கள் வரை இந்த நூலகம் ஒரு முழுமையான வாசிப்பின்பத்தைத் தரும் அறக்கட்டளையாக இருக்கும்.</p><br>
        <p>கல்வி, கலாசாரம், நுண்ணறிவு என அனைத்துக்கும் வாசிப்பு முக்கியம் என்பதைக் கருத்தில் கொண்டு, அனைவரும் இந்த நூலக அறவாசிப்பினை முழுமையாகப் பயனடைவோம். வாருங்கள், தங்கள் இலக்கியப் பயணத்தை லேக் ஸ்டீவன்ஸ் STS தமிழ்ப் பள்ளி நூலகத்தில் இனிதே தொடங்குங்கள்!</p><br>
    </section>

    <section id="events">
        <h2>நிகழ்ச்சிகள்</h2>
        <p>தற்போதைய மற்றும் எதிர்கால நிகழ்வுகள் பற்றிய தகவல் விவரங்கள்</p>
        
        <table class="events-table">
            <thead>
                <tr>
                    <th>நிகழ்ச்சி பெயர்</th>
                    <th>நிகழ்ச்சி ஏற்பாட்டாளர்</th>
                    <th>தேதி & நேரம்</th>
                    <th>விண்ணப்ப இணைப்பு</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>தமிழ் இலக்கிய விழா</td>
                    <td>தமிழ் சங்கம்</td>
                    <td>2025 மார்ச் 20, காலை 10:00</td>
                    <td><a href="#" class="apply-link">விண்ணப்பிக்க</a></td>
                </tr>
                <tr>
                    <td>கலை & கலாச்சாரம்</td>
                    <td>தமிழர் மன்றம்</td>
                    <td>2025 ஏப்ரல் 05, மாலை 4:00</td>
                    <td><a href="#" class="apply-link">விண்ணப்பிக்க</a></td>
                </tr>
                <tr>
                    <td>தொழில்நுட்ப மாநாடு</td>
                    <td>IT சங்கம்</td>
                    <td>2025 மே 10, மதியம் 2:30</td>
                    <td><a href="#" class="apply-link">விண்ணப்பிக்க</a></td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <section id="contact">
        <h2>Contact Us</h2>
        <div class="contact-container">
            <div class="form-container">
                <form action="mailto:kumarmarimuthu99@gmail.com" method="POST" enctype="text/plain">
                    <input type="text" id="name" placeholder="Name" name="name" required><br><br>
                    <input type="email" id="email" name="email" placeholder="Mail ID" required><br><br>
                    <textarea id="message" name="message" placeholder="Your Message" required></textarea><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="map-container">
                <iframe width="100%" height="300px" src="https://www.google.com/maps/embed/v1/place?q=Salem,Tamil Nadu,India&key=YOUR_API_KEY"></iframe>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2025 Tamil Class Web Page. All rights reserved.</p>
    </footer>

</body>
</html>
